* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: Arial;
    background-color: rgb(36, 169, 231) ;             /* para colocarle el degradado / / para poner el color a la pagina */
    padding: 50px;
    width: 100%;
    font-size: 130%;
    
     }
   
   .title{
    display: flex;
    background-color: white;
    color: #777;
    justify-content: center;
    border-radius: 15px;
    font-size: 25px;
    width: 100%;
    margin: 0 15px;
    margin-top: -20px;
     }
     
     #create-acount{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin-left: 40%;
    margin-top: -20px;

    }
    div h1{
     width: 70%
    }
    .control-group{
        font-size: 40px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: -15px;
    }
    input{
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 12px 0;
    width: 250px;
    transition: border .5s;
    }
    .btn {
        border: 2px solid transparent;
        background-color: rgb(0, 158, 124);
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 0;
        text-decoration: none;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        transition: 0.25s;
        display: block;
        width: 250px;
        margin: 0 auto;
      }
      
      .btn:hover {
        background-color: black
      }
      
      .login-link {
        font-size: 12px;
        color: #444;
        display: block;
        margin: 8px 30px;
    }
    .back{
        width: 35px;
        margin-top: -30px;
        font-size: 15px;
        }

        div a h2{
            display: flex;
            margin-right: 90%;
            background-color: white;
            color: #777;
            justify-content: center;
            border-radius: 15px;
          }