*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(36, 169, 231) ;             /* para colocarle el degradado / / para poner el color a la pagina */
}

nav {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.904);
}

nav {
    color: black;
    display: flex;
    justify-content: space-around;      /* para separalos */
    align-items: center; /* esto centra todos os elemnetos  */
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a:hover{
    color: rgb(171, 128, 228);
}

nav ul li{
    margin: 0 30px;             
}

nav ul li a{
    text-decoration: none;
    color: black;              /* color del texto de las a */
    font-size: 20px;             /* para agrandar el texto */
}

nav span{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

nav span a{
    color: black;
}

nav span a:hover{
    color: rgb(171, 128, 228);
}

.btn{
    background-color: rgb(136, 0, 248);
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px; 
    border-radius: 10px;
}
 .btn:hover{
    color: black
 }

#texto-principal{
    width: 30%;
    color: white;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

main span{
    font-size: 40px;
    display: block;
}

section{
    display: flex;
    width: 700px;
    height: 380px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 10px;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}



div div video{
    border-radius: 20px;
}

.video{
    color: white;
    font-size: larger;
    margin-left: 25px;
}



.textvideo{
    display: flex;
    justify-content: space-between;
    margin: 45px 50px;
}

.text{
    margin: 40px 50px 0 50px;
    font-size: large;
    color: white;
}